/* 
    Document   : login
    Created on : 27/05/2014
    Author     : Thiago Vieira
    Description: Purpose of the stylesheet follows.
*/
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(../font/BreeSerif-Regular.woff) format('woff');
}
body {
    font-family: 'Bree Serif', serif;
    padding-top: 70px;
    padding-bottom: 50px;
    /*background-color: #eee;*/
    background-color: #fff;
}
.img-logo {
    margin-top: -9px;
}

.navbar-red {
    background-color: #cc1414;
    border-color: #fff;
}
.navbar-red .navbar-brand {
    color: #999;
}
.navbar-red .navbar-brand:hover,
.navbar-red .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-red .navbar-text {
    color: #fff;
}
.navbar-red .navbar-nav > li > a {
    color: #fff;
}
.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #333;
}
.navbar-red .navbar-nav > .active > a,
.navbar-red .navbar-nav > .active > a:hover,
.navbar-red .navbar-nav > .active > a:focus {
    color: #333;
    background-color: #fff;
}
.navbar-red .navbar-nav > .disabled > a,
.navbar-red .navbar-nav > .disabled > a:hover,
.navbar-red .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-red .navbar-toggle {
    border-color: #fff;
}
.navbar-red .navbar-toggle:hover,
.navbar-red .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-red .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-red .navbar-toggle:hover .icon-bar,
.navbar-red .navbar-toggle:focus .icon-bar {
    background-color: #cc1414;
}
.navbar-red .navbar-collapse,
.navbar-red .navbar-form {
    border-color: #fff;
}
.navbar-red .navbar-nav > .open > a,
.navbar-red .navbar-nav > .open > a:hover,
.navbar-red .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}
@media (max-width: 767px) {
    .navbar-red .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-red .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-red .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-red .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-red .navbar-link {
    color: #999;
}
.navbar-red .navbar-link:hover {
    color: #fff;
}





.header-page {
    margin-top: 0px;
}





.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;


    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
/*.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}*/
.form-signin input[type="password"] {
    margin-bottom: 10px;
    /*    border-top-left-radius: 0;
        border-top-right-radius: 0;*/
}

/* for required input */
.glyphicon-asterisk {
    color: #cc1414;
}