/* 
    Created on : 26/05/2014
    Author     : Thiago Vieira
    Description: Purpose of the stylesheet follows.
*/

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(../font/BreeSerif-Regular.woff) format('woff');
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: 'Bree Serif', serif;
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f8f8f8;
        border-right: 1px solid #e7e7e7;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-top: 20px;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    text-align: right;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #777;
}
.nav-sidebar > .active > a ,
.nav-sidebar > .active > a:hover {
    color: #555;
    font-weight: bold;
    background-color: #e7e7e7;
}
.nav-sidebar > li > a:hover {
    color: #333;
    /*background-color: #fff;*/
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


.img-logo {
    margin-top: 50px;
}
@media (max-width: 768px) {
    .img-logo {
        margin-top: -9px;
    }
}

/* for required input */
.glyphicon-asterisk {
    color: #cc1414;
}